.main{
	padding:20px 0px 145px;
}
.main .W1302{
	margin:0px auto;
	width:1302px;
}
.main .left{
	float:left;
	width:242px;
}
.main .left p.top{
	margin-bottom:20px;
	padding-left:16px;
	line-height:40px;
	border:1px solid #DDDDDD;
	background-color:#F5F5F5;
	color:#FF571A;
}
.main .left .bottom{
	padding:14px 18px 0px 15px;
	border:1px solid #EDEDED;
}
.main .left .bottom .row{
	margin-bottom:22px;
}
.main .left .bottom h2{
	margin-bottom:12px;
}
.main .left .bottom span{
	display:block;
	padding-left:10px;
	font-size:12px;
	line-height:30px;
	border:1px solid #E5E5E5;
	color:#AAAAAA;
}
.main .left .bottom .select{
	cursor:pointer;
}
.main .left .bottom .select:hover span{
	color:#FF571A;
}
.main .left .bottom .select ul.current{
	display:block;
}
.main .left .bottom ul{
	display:none;
	border:1px solid #E5E5E5;
}
.main .left .bottom ul li{
	padding-left:20px;
	line-height:30px;
	font-size:12px;
	color:#666666;
}
.main .left .bottom ul li:hover{
	background-color:#FF571A;
	color:#fff;
}
/*右侧车辆信息样式*/
.main  .right{
	float:right;
	width:1040px;
}

.main .right .bottom  .carbox{
	position:relative;
	float:left;
	margin:0px 20px 20px 0px;
	width:240px;
	height:320px;
}

.main .right .bottom  .carbox .detail{
	padding:0px 14px;
	width:210px;
	height:160px;
	border:1px solid #E6E6E6;
	border-top:0px;
}
.main .right .bottom  .carbox .detail a{
	display:block;
	margin-top:6px;
	height:36px;
	color:#333333;
}
.main .right .bottom  .carbox .detail a:hover{
	color:#FF571A;
}
.main .right .bottom  .carbox .detail p.price{
	width:210px;
	margin:8px 0px;
	font-size:16px;
	font-weight:bold;
	color:#FF571A;
}
.main .right .bottom  .carbox .detail p.about{
	width:210px;
	padding-bottom:26px;
	font-size:12px;
	color:#999999;
	border-bottom:1px solid #E6E6E6;
}
.main .right .bottom  .carbox .detail .isPersonal{
	margin-top:10px;
	width:56px;
	background-color:#60B25E;
	font-size:12px;
	color:#fff;
	text-align:center;
}
.main .right .bottom  .carbox .circle{
	position:absolute;
	top:40px;
	left:80px;
	width:80px;
	height:80px;
	line-height:80px;
	text-align:center;
	border-radius:50%;
	background-color:#fff;
	font-size:26px;
	color:#999999;
	opacity:0.7;
	filter:alpha(opacity=70);
}


