*{
	margin:0px;
	padding:0px;
	font-family:Microsoft Yahei;
	font-size:14px;
}
ul,ol{
	list-style:none;
}
p,h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
img{
	border:none;
}
a{
	text-decoration:none;
}
.clear{
	clear:both;
}