.main{
	padding:68px 0px 90px;
}
.W956{
	margin:0 auto;
	width:956px;
}
.main h2{
	text-align:center;
	font-size:26px;
	font-weight:bold;
	color:#444444;
}
.main p{
	margin:22px 0px 12px;
	color:#FF8C00;
}
.main span{
	color:#444444;
}
